body
{
    font-family: Arial, Helvetica, sans-serif;
}
.top
{
    margin-top: 10vh;
    font-size: 3rem;
    font-weight: bolder;
    text-align: center;
}
.hr1, .hr2
{
    width: 10vw;
    display: inline-block;
    border: none;
    border-bottom: 2px solid black;
    position: absolute;
}
.hr1
{
    left: 460px;
    top: 90px;
}
.hr2
{
    top: 90px;
    right: 460px;
}
.back-flex
{
    display: flex;
    align-items: center;
    margin-top: 5vh;
}
.material-icons.back_icon
{
    color: #e72e0e;
    font-size: 3rem;
    /* margin-top: 2rem; */
}
.back
{
    font-weight:lighter;
    font-size: 1.8rem;
    color: grey;
    margin-left: 5px;
}
.box
{
    border: 2px solid tomato;
    width: 13vw;
    height: 40vh;
    border-radius: .5rem;
    box-shadow: 10px 10px 10px #e2d1d1;
    margin-top: 5vh;
}
.paris
{
    margin-top: 15%;
    color: tomato;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 12px;
    font-weight: lighter;
}
.hr3
{
    margin-left: 14%;
    border: none;
    border-bottom: 1px solid;    
}
.completed
{
    text-decoration: line-through;
    color: #e72e0e;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 20%;
}
label
{
    font-size: 1.3rem;
}
input
{
    transform: scale(1.5);
    margin-top: 10%;
    margin-left: 11px;
}
.material-icons.add_icon
{
    color: #e72e0e;
    font-size: 2.5rem;
    margin-right: 4px;
}
.flex-add
{
    display: flex;
    height: 16vh;
    justify-content: end;
    align-items: flex-end;
}

.wrapper
{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}